# DB credentials
POSTGRES_USER=name         # Ur name in lowercase
POSTGRES_PASSWORD=admin123 # Example
POSTGRES_DB=rapistock_db   # Official name
POSTGRES_PORT=5432         # Or whatever u want xd
POSTGRES_SERVER=localhost  # To dev envs

# PgAdmin credentials
PGADMIN_DEFAULT_EMAIL=admin@rapistock.com # Example
PGADMIN_DEFAULT_PASSWORD=admin123         # Example

# To auth
SECRET_KEY=dbgh16fbf41145gm1j7kgn665...      # CHANGE THIS: I just drop my hand in keyboard to make this "hash" xd
ALGORITHM=HS256                              # Ur algorithm
ACCESS_TOKEN_EXPIRE_MINUTES=30               # Customize the lifespan of ur tokens